html {
  position: relative;
  min-height: 100%;
  }

body{
    padding: 0;
    margin: 0 0 100px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url("../images/cubes.png");    
}

.navbar {

    background: white;
    padding: 0px 300px 0px 150px;
    border-bottom: 2px solid #dddddd;
}

.content img{
  border: solid 3px #000;
  border-radius: 50%;
  width: 80%;
  /* margin: 20px 0; */
}

.container {

    margin: 50px 150px 0px 150px;
    background-color: white;
    /* border: thin solid black; */
}

.page-header {

    margin: 20px 0;
    border-bottom: 2px solid #dddddd;

}

p {
    margin-bottom: 25px;
}

.jumbotron {
  background-color: white;
}

footer {
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #666666;
    text-align: center;
    line-height: 30px;
    border-top: 5px solid #4aaaa5;
    
   
  }
  
  #footie {
  
    text-align: center;
    font-size: 12px;
    color: #dddddd;
  }
  
  .card {
    background-image: url("../images/cubes.png");
    margin: 10px;

  }

  .card-img-top {
    margin-top: 10px !important;
    margin: auto;
    height: 200px;
    width: 200px;
  }

.button {
    
    color: #dddddd;
    background-color:  #4aaaa5;
  }

